$primaryFont: 'Inter';

$primaryColorOne: rgb(0, 0, 0);
$primaryColorTwo: rgb(22, 22, 22);

$secondaryColorOne: rgb(252, 244, 1);
$secondaryColorTwo: rgb(255, 255, 255);
$secondaryColorThree: rgb(63, 132, 235);
$secondaryColorFour: rgb(0, 128, 0);
$secondaryColorFive: rgb(255, 0, 0);